AimBot.pds*
impl.tcl
**.log

*.sublime-workspace

multiseed_summary.csv

compile/**
device_map/**
doc/**
generate_bitstream/**
generate_netlist/**
ipcore/**
place_route/**
report_power/**
report_timing/**
synthesize/**

source/*_backup/**
constraint_check/**
