AimBot.pds*

source/ipcore/**

impl.tcl
**.log
data.wf

*.sublime-workspace

multiseed_summary.csv

compile/**
device_map/**
doc/**
generate_bitstream/**
generate_netlist/**
ipcore/**
place_route/**
report_power/**
report_timing/**
synthesize/**

source/*_backup/**
**_backup**
constraint_check/**
temp_projects/**

cfg_verify_result.sbit

source/test/*.wdf
