AimBot.pds*
impl.tcl
**.log

**sublime**

multiseed_summary.csv

compile/**
device_map/**
doc/**
generate_bitstream/**
generate_netlist/**
place_route/**
report_power/**
report_timing/**
synthesize/**
